/* .Home  */
.Landing {
  padding-top: 50px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  width: 100%;
  height: 100%;
  /* text-align: center; */
}

.Home {

}


/* .Landing h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
} */

.Home .Landing p {
  color: #999;
}

.homePageInner {
  /* width: 100%;
  height:100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(42, 47, 55, 0.81);
  margin: 1.6em;
  width: 100%;
  height: 100%;
}

.homePageModal {
  display: flex;
  justify-content:center;
  align-items:center;
  position: absolute;
  z-index: 900;
  text-align: center;
  /* padding-top: 110px; */
  height: 590px;
  width: 100%;
  /* margin-left: 1.6em;
  margin-right: 2em;
  margin-bottom: 2em; */
}

.h1Styling {
  font-family: "Amatic SC", cursive;
  color: #BFC81E;
  font-size: 6.5vw !important;
  font-weight: 600;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

p {
  color: #e8e8e8 !important;
  font-size: 20px;
  padding: 2px;
}


.leafZIndex {
  z-index: -1;
  position: fixed;
}
