/* .Home  */
.Landing {
  padding-top: 50px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  text-align: center;
}

.Home {

}
.Landing h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.Home .Landing p {
  color: #999;
}
