/* .GhostInfo{
  background-color: black;
} */
.ghostDataInfo {
  padding: 10px;
  margin-top: 35px;
  margin-left: 70px;
  margin-right: 115px;
}
.ghostDataImg {
  margin-left: 70px;
  margin-top: 50px;
  border-radius: .5em;
  border: solid black;
}

h1{
  font-size: 70px !important;

}
.ghostDataPlaceName {
  font-family: "Amatic SC", cursive;
  color: black !important;
  text-shadow:
		-1px -1px 0 #333,
		1px -1px 0 #333,
		-1px 1px 0 #333,
		1px 1px 0 #333
}
h3 {
  font-family: "Amatic SC", cursive;
  font-size: 25px;
  font-weight: bolder;
}

p {
  font-size: 18px;
}

.ghostDataLocDesc {
  margin-top: 30px;
  /* color: white; */
}

h5 {
  font-style: italic;
}
.ghostSource {
  /* color: white; */
}
