@media all and (min-width:480px){
	.hauntedLocations{
		padding: 60px 0;
	}
	.hauntedLocations form {
		margin: 0 auto;
		max-width: 500px;
	}
}


.AddYourHauntedLocation {
  font-size: 20px;
  font-weight: bolder;
}

