.Collapse {
  border: solid;
  background-color: #ffcc66;
  margin: 20px;
  border-radius: .7em;
}

.collapseImg {
    max-width: 200px;
    max-height: 300px;
    margin-top: 40px;
    border-color: #404040;
    border-style: ridge;
    border-radius: .5em;
  	/* opacity: .7;
  height: 50px;
  width: 50px; */
  margin-left: 50px;
  float: left;
}
.collapsePlaceName {
  margin-top: 10px;
}

.collapseCity {
  margin-left: auto;
  margin-right: auto;

}
.collapseLocDesc{
  margin-right: 20px;
  margin-left: 20px;
}

.profileButton  {
  margin-left: 263px;
  margin-top: 2px;
  margin-bottom: 5px;

  /* margin-right: auto; */

}
.tourButton {
  /* margin-right: 00px; */
}
.collapseLearnMore {
  margin-left: 10px;
}
