.Collapse {
  border: solid;
  background-color: #2B3038;
  opacity: .9;
  background-blend-mode: lighten;
  margin: 20px 25px 20px 25px;
  position: center;
  border-radius: .7em;
}

.collapseClose {
  margin-top: 10px;
  margin-right: 20px;
}

.collapseImg {
    max-width: 200px;
    max-height: 300px;
    margin-top: 40px;
    border-color: #404040;
    border-style: ridge;
    border-radius: .5em;
  	/* opacity: .7;
  height: 50px;
  width: 50px; */
  margin-left: 30px;
  float: left;
}
.collapsePlaceName {
  position: center;
  margin-top: 10px;
  font-family: Times New Roman;
  font-size: 23px;
  /* color: #d9d9e0; */
  color: #BFC81E !important;

  text-shadow:
		-1px -1px 0 #333,
		1px -1px 0 #333,
		-1px 1px 0 #333,
		1px 1px 0 #333
}


.collapseCity {
  position: center;
  margin-left: auto;
  margin-right: auto;
  color: #d9d9e0;

}
.collapseLocDesc{
  position: center; */
  margin-right: 60px;
  margin-left: 30px;
  color: #d9d9e0;
}

.collapseLearnMore {
  margin-left: 10px;
}
.collapseLearnMore .Collapse {
  margin-bottom: 30px;
}

.saveButton  {
  width: 100px;
  color: black;
  margin-left: 206px;
  margin-top: 2px;
  margin-bottom: 5px;
  background-color: #BFC81E !important;
}
