.Collapse {
  border: solid;
  background-color: #ffcc66;
  opacity: .9;
  background-blend-mode: lighten;
  margin: 20px 50px 20px 50px;
  position: center;
  border-radius: .7em;
}

.collapseClose {
  margin-top: 10px;
  margin-right: 20px;
}

.collapseImg {
    max-width: 200px;
    max-height: 300px;
    margin-top: 40px;
    border-color: #404040;
    border-style: ridge;
    border-radius: .5em;
  	/* opacity: .7;
  height: 50px;
  width: 50px; */
  margin-left: 50px;
  float: left;
}
.collapsePlaceName {
  position: center;
  margin-top: 10px;
  font-family: Times New Roman;
  font-size: 23px;
  color: #d9d9e0;
  text-shadow:
		-1px -1px 0 #333,
		1px -1px 0 #333,
		-1px 1px 0 #333,
		1px 1px 0 #333
}
/* .blurred-box{
  position: relative;
  width: 250px;
  height: 350px;
  /* /top: calc(50% - 175px);
  left: calc(50% - 125px);
  background: inherit;
  border-radius: 2px;
} */

.collapseCity {
  position: center;
  margin-left: auto;
  margin-right: auto;

}
.collapseLocDesc{
  position: center; */
  margin-right: 20px;
  margin-left: 20px;
}

.profileButton  {
  margin-left: 225px;
  margin-top: 2px;
  margin-bottom: 5px;
  /* position: center; */

  /* margin-right: auto; */

}
/* .tourButton {
  position: center;
  margin-right: 00px;
} */
.collapseLearnMore {
  margin-left: 10px;
}
