h3.cardTitle {
	text-align: center;
	font-size: 2em;
	style: bolder;
	font-weight: 1000;
	font-family: "Amatic SC", cursive;
	color: #ffcc66 !important;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.cardSizing {
	height: 100%;
	width: auto;
}

.card {
	position: relative;
	height: 200px;
	width: 270px;
	padding: 10px;
	margin: 1em;
	background-color: #2B3038;
}

.card-background-image {
  max-width: 100%;
  max-height: 100%;
	opacity: .4;
 }

h4.cardCity {
	position: absolute;
	font-size: 16px;
	top: 60%;
	width: 85%;
	text-align: center;
	margin-top: 5px;
	color: #d9d9e0 !important;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

h5.LearnMore {
	position: absolute;
	bottom: 15px;
	width: 85%;
  font-size: 20px;
  style: bolder;
  font-weight: 1000;
  font-family: "Amatic SC", cursive;
  color:  #ffcc66 !important;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
/* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
  /* h3  {
    font-size: 6vw;
  } */
  h3, h4, h5 {
    font-size: 4vw;
  }
  .card {
    width: 150% !important;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
  h3, h4, h5 {
    font-size: 1vw;
  }
  .card  {
    width: 120%% !important;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .card {
    width: 100% !important;

   }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
