.CardTitle{
	padding: 15px;
	text-align: center;
	font-size: 2em;
	style: bolder;
	font-weight: 1000;
	font-family: "Amatic SC", cursive;
	color: #ffcc66;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;		
}
.cardSizing {
	height: 100%;
	width: auto;
}
