h3.cardTitle {
	text-align: center;
	font-size: 2em;
	style: bolder;
	font-weight: 1000;
	font-family: "Amatic SC", cursive;
	color: #ffcc66 !important;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.cardSizing {
	height: 100%;
	width: auto;
}

.card {
	position: relative;
	height: 200px;
	width: 270px;
	padding: 10px;
	margin: 1em;
	background-color: #33363a;
}

.card-background-image {
  max-width: 100%;
  max-height: 100%;
	opacity: .7;

 }

h4.cardCity {
	position: absolute;
	font-size: 16px;
	top: 55%;
	width: 85%;
	text-align: center;
	margin-top: 5px;
	color: white !important;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

h5.LearnMore {
	position: absolute;
	bottom: 15px;
	left: 100px;
  font-size: 20px;
  style: bolder;
  font-weight: 1000;
  font-family: "Amatic SC", cursive;
  color:  #ffcc66 !important;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
