.CardTitle{
	padding: 15px;
	text-align: center;
	font-size: 2em;
	style: bolder;
	font-weight: 1000;
	font-family: "Amatic SC", cursive;
	color: #ffcc66;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
.cardSizing {
	height: 100%;
	width: auto;
}
.card {
	height: 200px;
	width: 270px;
	padding: 20px;
	margin: 1em;
}

.card-background-image {
  max-width: 100%;
  max-height: 100%;
	opacity: .7;

}

.cardCity {
	text-shadow: white;
}

.text-muted {
	position: absolute;
	bottom: 40px;
	top: 180px;

}
