.card {
  borderStyle: solid;
}
.card-style {
  width: 300px;
  height: 190px;
  border-style: solid;
  border-color: black;
}

.card-background-image {
  max-width: 100%;
  max-height: 100%;
}

.container  .card {
    display: inline-block;
    width:100%;
    height: 190px;
}

.ghost-name {
  text-align: center;
  font-size: 14px;
  color: black;
  font-family: "Amatic SC", cursive;
}

.place-name {
  padding: 15px;
  text-align: center;
  font-size: 14px;
  style: bolder;
  font-weight: 1000;
  font-family: "Amatic SC", cursive;
  color: #ffcc66;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.loc-info {
  text-align: center;
  font-size: 12px;
  color: black;
  font-family: "Amatic SC", cursive;
  overflow: hidden;
  textOverflow: ellipsis;
}
