/* Individual card styling */
.card-style {
  /* background-image: linear-gradient(to bottom, #0c0d10, #111215, #151619, #19191d, #1c1d21); */
  width: 300px;
  height: 190px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.ghost-name {
  text-align: center;
  font-size: 14px;
  color: black;
  font-family: 'Amatic SC', cursive;
}

.place-name {
  text-align: center;
  font-size: 14px;
  color: black;
  font-family: 'Amatic SC', cursive;
}

.loc-info {
  text-align: center;
  font-size: 12px;
  color: black;
  font-family: 'Amatic SC', cursive;
}
 /* .card-img-top {
  position: relative;
  z-index: 0;

} */
.card-image-overlay {
width: 300px;
height: 190px;
  position: absolute;
  z-index: 5
}
.card-image-top {
  position: absolute;
  z-index: -1;
}
.card img {
  position: relative;
}

img{
  z-index: -1;
  opacity: 0.2;
  position: absolute;

}
